In [6]:
import pandas as pd
import json
import os

In [7]:
path = "/home/piai/yolov5/data/images/test_img"
file_list = os.listdir(path)
len(file_list)

3272

In [8]:
df = pd.DataFrame([], columns=['image_id', 'labels'])

file_num = 0
for file_name in file_list:
    with open("/home/piai/Documents/val_lb/%s.json"%file_name[:-4], 'r') as f:

        json_data = json.load(f)
            
    a = []
    for i in range(len(json_data['Text_Coord'])):
            for j in range(len(json_data['Text_Coord'][i])):
                a.append(json_data['Text_Coord'][i][j][0][:4])

    b = ''
    for aa in a:
        b += ' 0 '
        aa = map(int, aa)
        aa = map(str, aa)
        b += ' '.join(aa)
        
    df.at[file_num, 'image_id'] = file_name
    df.at[file_num, 'labels'] = b[1:]
    
    file_num += 1

In [9]:
df.head()

,image_id,labels
0,KSAC_I_A07000254_006_088.jpg,0 2087 1241 85 89 0 2082 1335 100 118 0 2087 1...
1,KSAC_I_A06000057_003_027.jpg,0 668 216 49 41 0 666 257 49 35 0 668 293 47 3...
2,KSAC_I_A07000219_002_116.jpg,0 2093 631 136 115 0 2087 752 142 126 0 2103 8...
3,KSAC_I_A06000076_025_076.jpg,0 2078 368 161 126 0 2103 494 137 128 0 2103 6...
4,KSAC_I_A12000064_004_131.jpg,0 673 856 42 36 0 671 894 47 43 0 659 166 44 4...

In [10]:
df.to_csv("/home/piai/Downloads/test.csv", index = False)